<div class="main movie-show">
  <div class="container">
    <div class="movie">
      
      <!-- Display the movie's info here -->
      <div class="info">
        <!-- movie image -->
        <h3 class="movie-title">  </h3>
        <p class="movie-release-year">  </p>
        <p class="movie-plot">  </p>
      </div>
    </div>

    <h2>Cast</h2>
    <!-- Display each actor's info here -->
    <div class="actor">
      <!-- actor image -->
      <h3 class="actor-name">  </h3>
      <p class="actor-bio">  </p>
    </div>

  </div>
</div>
